/node_modules
/vendor
.env
/public/storage/audio/
/public/storage/consultants/
/public/storage/debugbar/
/public/storage/patient_pictures/
#/storage

storage/framework/cache
#public/storage/images
package-lock.json
composer.lock
