/node_modules
/vendor
.env
/public/storage/
/public/storage/patient_docs/
/public/storage/audio/
/public/storage/consultants/
/public/storage/debugbar/
/public/storage/patient_pictures/
/public/storage/document_templates/
#/storage
/whisper_env

storage/framework/cache
#public/storage/images
package-lock.json
composer.lock
